.dashboard-content {
  background: linear-gradient(to bottom, #0b3d0b, #064e0a);
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100%;
}

.welcome-text {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

.stats-card {
  width: 100%;
  max-width: 350px;
  background-color: #228b22;
  color: white;
  margin-bottom: 30px;
  border-radius: 12px;
}

.tree-icon {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.stat-item {
  text-align: center;
  margin-bottom: 15px;
}

.stat-label {
  font-size: 16px;
}

.stat-value {
  font-size: 24px;
  font-weight: bold;
}

.divider {
  border: none;
  border-top: 1px solid white;
  margin: 10px 0;
}

.dashboard-button {
  margin: 10px 0;
  background-color: #3cb371;
  color: white;
  border-radius: 10px;
}

.bottom-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  background-color: #1e5128;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.nav-icon {
  color: white;
  font-size: 28px;
}
